.clients {
  background-color: var(--bg-about);

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    color: #afb1b8;
  }
}

.client__icon-wrap {
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  @extend %tt;

  &:hover {
    color: var(--icon-bg-color);
    --color1: var(--icon-bg-color);
  }
}

.client__icon {
  width: 106px;
  height: 60px;

  &:hover {
    color: var(--icon-bg-color);
    --color1: var(--icon-bg-color);
  }
}
