.hero {
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/bg.jpg);
  background-repeat: no-repeat;
  min-width: 1280px;
  max-width: 1600px;
  margin: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    width: 696px;
    margin: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--brend-color-3);

    margin-bottom: 30px;
  }
}
