.portfolio-conteinter {
  padding-left: 0;
  padding-right: 0;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 0 auto 34px auto;
}

.filters__filter {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  padding: 6px 22px;

  &:hover,
  &:focus {
    color: var(--brend-color-3);
    background: var(--btn-hover-color);
    cursor: pointer;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects_project {
  box-sizing: border-box;
  border: 1px solid #eeeeee;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }

  &:hover {
    color: black;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.projects__link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0;

  & > img {
    margin-bottom: 20px;
  }
}

.project-cart-description {
  margin: 20px 24px;

  & > h3 {
    width: 322px;

    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  }

  & > p {
    width: 322px;

    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--text-description-color);

    margin: auto;
  }
}

.projects__wrap {
  position: relative;
  width: 370px;
  height: 294px;

  overflow: hidden;

  &:hover > .projects__img-hover {
    top: 0;
  }
}

.projects__img-hover {
  position: absolute;
  top: 100%;
  /* top: 0; */
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 23px;

  transition-duration: var(--duration);
  transition-timing-function: var(--timing-fun);
  transition-property: top;

  &-title {
    font-family: Roboto;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: #ffffff;
  }
}
