.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-color-1 {
  color: var(--brend-color);
}

.logo-color-2 {
  color: var(--brend-color-2);
}

.logo-color-3 {
  color: var(--brend-color-3);
}
