.modal-backdrop {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;

  &.is-hidden > .modal {
    transform: translateX(-100vw);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  height: 581px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @extend %tt;
  transition-property: transform opacity;
}

.modal__close-buttom {
  position: absolute;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: var(--duration);
  transition-timing-function: var(--timing-fun);

  &:hover {
    fill: var(--brend-color);
  }

  &:active {
    border: 1px solid var(--brend-color);
  }
}

.icon-close {
  width: 11px;
  height: 11px;
}

.modal-title {
  margin-bottom: 12px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form__field {
  margin-bottom: 10px;
  position: relative;
}

.form__label {
  display: block;

  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:hover + .form-icons {
    --color1: var(--brend-color);
  }
}

.form__input,
.form__user-text {
  &:hover,
  &:focus {
    border: 1px solid var(--brend-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
}

.form-icons {
  pointer-events: none;
  position: absolute;
  bottom: 11px;
  left: 12px;

  width: 18px;
  height: 18px;
}

.form__user-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form__field-check {
  height: 24px;
  margin-top: 20px;
  margin-left: calc(54px - 41px);
  margin-right: calc(51px - 39px);
}

.form__input-check {
  display: block;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.form__icons-check {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 16px;
  height: 15px;

  --color1: transparent;
  border: 1px solid #212121;
  border-radius: 25%;
}

.form__check {
  position: absolute;
  top: 5px;
  left: 0px;
  display: none;

  &:checked ~ .form__icons-check {
    --color1: #fff;
    background: var(--brend-color);
    border: 1px solid var(--brend-color);
  }
}

.form__link-rules {
  font-family: Roboto;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--brend-color);
}

.form__send-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #fff;

  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @extend %tt;
}
